.burger-menu {
  --burger-color: #5f6368;
  --burger-width: 28px;
  --burger-height: 20px;
  --burger-height-line: 2px;
  --burger-padding: 8px;

  position: relative;

  display: block;
  box-sizing: content-box;
  width: var(--burger-width);
  height: var(--burger-height);
  padding: calc(var(--burger-padding) * 1.5) var(--burger-padding)
    calc(var(--burger-padding) * 1.5 + var(--burger-height-line));

  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.burger-menu:focus {
  background-color: #ebebeb;
  outline: none;
}

.burger-menu:hover {
  background-color: #ebebeb;
}

.burger-menu::before,
.burger-menu::after {
  position: absolute;
  top: calc(var(--burger-height) / 2 + 5);
  left: var(--burger-padding);

  width: var(--burger-width);
  height: var(--burger-height-line);

  background-color: var(--burger-color);

  transition: all 0.3s;

  content: "";
}

.burger-menu::after {
  box-shadow: 0 calc(var(--burger-height) / 2) 0 0 var(--burger-color),
    0 calc(var(--burger-height) / -2) 0 0 var(--burger-color);
}

.burger-menu_close::after {
  box-shadow: none;
  transform: rotate(45deg);
}

.burger-menu_close::before {
  transform: rotate(-45deg);
}

.logo {
  position: absolute;
  left: 50%;

  margin: 0;
  padding: 4px 8px;

  color: white;

  font-size: 2em;

  background-color: steelblue;
  transform: translate(-50%);
}

.logo span {
  line-height: 1;
}

.logo__news {
  color: steelblue;

  background-color: white;
}

/* switching for dark mode */

.app_dark .logo {
  background-color: #333333;
}

.app_dark .logo__news {
  color: #333333;
}

.header {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;

  background-color: inherit;
  box-shadow: 0 4px 5px 0 rgba(70, 130, 180, 0.14),
    0 1px 10px 0 rgba(70, 130, 180, 0.12),
    0 2px 4px -1px rgba(70, 130, 180, 0.2);
}

.right-bar {
  display: flex;
  align-items: center;
}

/* switching for dark mode */

.app_dark header {
  box-shadow: 0 2px 6px 2px rgba(235, 235, 235, 0.16);
}

.dark-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;

  background-image: url(images/night_toggle.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 20px 40px;
}

.dark-mode__switch input {
  display: none;
}

.dark-mode__switch {
  position: relative;

  display: inline-block;
  width: 30px;
  height: 20px;
}

.dark-mode__slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;

  border: 4px solid transparent;
  border-radius: 30px;
  box-shadow: 0 0 0 2px steelblue, 0 0 4px steelblue;
  cursor: pointer;

  transition: 0.4s;
}

.dark-mode__slider::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: steelblue;
  border-radius: 30px;
  transform: translateX(-10px);

  transition: 400ms;

  content: "";
}

input:checked + .dark-mode__slider::before {
  background-color: #9f9f9f;
  transform: translateX(10px);
}

input:checked + .dark-mode__slider {
  box-shadow: 0 0 0 2px #9f9f9f, 0 0 8px #9f9f9f;
}

.app_dark .dark-mode {
  background-image: url(images/night_toggle.svg);
  background-position: 0 0;
}

@media (orientation: portrait) and (max-width: 767px) {
  .dark-mode__label {
    font-size: 0.7em;
  }
}

.search-panel {
  position: relative;

  height: 20px;

  padding-right: 40px;
}

.search-panel__icon {
  height: 20px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-panel__icon:focus {
  outline: 1px solid steelblue;
}

.search-panel__icon img {
  width: 20px;
}

.search-panel__field {
  position: absolute;
  top: 100%;
  left: 0;

  margin-top: 10px;
  padding: 6px 10px;

  font-size: 1.1em;

  border: 1px solid #4682b43b;
  border-radius: 10px;
  box-shadow: 0 4px 5px 0 rgba(70, 130, 180, 0.14),
    0 1px 10px 0 rgba(70, 130, 180, 0.12),
    0 2px 4px -1px rgba(70, 130, 180, 0.2);

  transform: translate(-50%, 0);

  transition: transform 400ms, border 250ms;
}

.search-panel__field:focus {
  outline: 1px solid steelblue;
}

.field_hide {
  top: 0;

  transform: translate(-50%, -100px);
}

@media (orientation: portrait), (max-width: 768px) {
  .search-panel {
    padding-right: 10px;
  }

  .search-panel__field {
    width: 180px;
  }
}

.app_dark .search-panel__field-toggle img {
  filter: invert();
}

.news-container {
  padding-left: 0;
}

.news {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  min-height: 150px;
  margin-bottom: 16px;

  background: linear-gradient(to bottom, rgba(70, 130, 180, 0.19), rgba(70, 130, 180, 0.13));

  border-radius: 18px;

  transition: box-shadow 150ms linear, transform 150ms linear;
}

.news:hover {
  box-shadow: 1px 1px 1px rgba(149, 202, 231, 0.4);
  transform: translate(-1px, -1px);
}

.news__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  padding: 12px 10px 12px 12px;
}

.news__content a {
  color: #00378a;
  text-decoration: none;
}

.news__content a:hover {
  border-bottom: 1px solid steelblue;
}

.news__content-title {
  margin: 0;
  padding-bottom: 5px;
}

.news__img {
  flex-basis: 150px;
  flex-shrink: 0;
  width: 150px;
  height: 100%;
  min-height: 150px;
  object-fit: cover;

  background-color: #c7d9e8;

  border-radius: 0 17px 17px 0;
}

@media (orientation: portrait), (max-height: 480px) {
  .news {
    min-height: 100px;
  }

  .news__content {
    padding: 8px 5px 8px 8px;
  }

  .news__content h2 {
    font-size: 0.9em;
  }

  .news__content a {
    font-size: 0.8em;
  }

  .news__img {
    flex-basis: 100px;
    width: 100px;
    height: 100%;
    min-height: 100px;
  }
}

/* switching for dark mode */

.app_dark .news {
  border-color: #5b5b5b;
}

.app_dark .news__content a {
  color: inherit;
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  padding: 16px;
}

.main__button-more {
  padding: 4px 8px;

  color: #464c51;
  font-size: 1.2em;

  background-color: transparent;
  border: 1px solid steelblue;
  border-radius: 4px;
}

.main__button-more:hover {
  color: white;

  background-color: steelblue;
  cursor: pointer;
}

.loading {
  margin: 0;
  padding: 6px;

  color: #464c51;
  font-size: 1.2em;
}

@media (max-width: 767px), (orientation: portrait) {
  .main {
    padding: 16px 10px 10px;
  }
}

/* switching for dark mode */

.app_dark .main__button-more {
  color: inherit;

  border-color: #5b5b5b;
}

.app_dark .main__button-more:hover {
  background-color: #333333;
}

.aside {
  position: relative;

  width: 100%;
}

.aside_hide {
  width: 0;

  transition-delay: 250ms;
}

.aside_hide .list {
  transform: translateX(-100%);
}

.list {
  position: sticky;
  /* 56px - height of header */
  top: 56px;
  z-index: 1;

  box-sizing: border-box;

  height: calc(100vh - 56px);

  margin: 0;
  padding-top: 8px;
  padding-left: 0;
  overflow: hidden;

  list-style: none;

  box-shadow: 0 0 12px rgba(70, 130, 180, 0.3);

  transition: transform 250ms linear;
}

.list__news-type {
  position: relative;

  height: 30px;
  padding: 8px 16px;
  overflow: hidden;
}

.list__news-type_active {
  background: linear-gradient(45deg, #b6d7f3, #e8f5ff);

  clip-path: polygon(0 0, calc(100% - 23px) 0, 100% 23px, calc(100% - 23px) 46px, 0 46px);
}

.list__news-type button {
  color: #464c51;
  font-size: 1.5em;

  background-color: transparent;
  border: none;
}

.list__news-type button:hover {
  color: steelblue;

  cursor: pointer;

  transition: color 250ms linear;
}

@media (max-width: 767px) {
  .list {
    width: 50vw;

    background-color: white;
  }

  .aside {
    width: 0;
    height: 100%;
  }
}

@media (max-height: 480px) {
  .list {
    overflow: scroll;
  }
}

/* switching for dark mode */

.app_dark .list__news-type button {
  color: inherit;
}

.app_dark .list__news-type button:hover {
  color: #bdbdbd;
}

.app_dark .list__news-type_active {
  background-color: #333333;
}

.app_dark .list__news-type_active::after {
  border-color: black;
  border-left: 23px solid #333333;
}

@media (max-width: 767px) {
  .app_dark .list {
    background-color: black;
  }
}

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;

  background-color: white;
}

.app__header {
  z-index: 2;

  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.app__aside {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

/* switching for dark mode */

.app_dark {
  color: #dcdcdc;

  background-color: black;
}

body {
  margin: 0;
}


/*# sourceMappingURL=main.css.map*/