.logo {
  margin: 0;
  padding: 4px 8px;

  color: white;

  font-size: 2em;

  background-color: steelblue;
}

.logo span {
  line-height: 1;
}

.logo__news {
  color: steelblue;

  background-color: white;
}
