.search-panel {
  position: relative;

  height: 20px;

  padding-right: 40px;
}

.search-panel__field-toggle {
  height: 20px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-panel__field-toggle:focus {
  outline: 1px solid steelblue;
}

.search-panel__field-toggle img {
  width: 20px;
}

.search-panel__field {
  position: absolute;
  left: 0;

  margin-top: 10px;
  padding: 6px 10px;

  font-size: 1.1em;

  border: 1px solid #4682b43b;
  border-radius: 10px;
  box-shadow: 0 4px 5px 0 rgba(70, 130, 180, 0.14), 0 1px 10px 0 rgba(70, 130, 180, 0.12), 0 2px 4px -1px rgba(70, 130, 180, 0.2);

  transition: transform 400ms, border 250ms;
}

.search-panel__field:focus {
  outline: 1px solid steelblue;
}

.search-field_hide {
  transform: translate(-50%, -100px);
}

.search-field_show {
  top: 100%;

  transform: translate(-50%, 0);
}

@media (max-width: 767px) {
  .search-panel {
    padding-right: 0;
  }
}

.app_dark .search-panel__field-toggle img {
  filter: invert();
}
