.app {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;

  background-color: white;
}

.app__header {
  z-index: 1;

  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.app__aside {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

/* switching for dark mode */

.app_dark {
  color: #dcdcdc;

  background-color: black;
}
