.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  padding: 16px;
}

.main__button-more {
  padding: 4px 8px;

  color: #464c51;
  font-size: 1.2em;

  background-color: transparent;
  border: 1px solid steelblue;
  border-radius: 4px;
}

.main__button-more:hover {
  color: white;

  background-color: steelblue;
  cursor: pointer;
}

.loading {
  margin: 0;
  padding: 6px;

  color: #464c51;
  font-size: 1.2em;
}

@media (max-width: 767px), (orientation: portrait) {
  .main {
    padding: 16px 10px 10px;
  }
}

/* switching for dark mode */

.app_dark .main__button-more {
  color: inherit;

  border-color: #5b5b5b;
}

.app_dark .main__button-more:hover {
  background-color: #333333;
}
