:root {
  --burger-color: #5f6368;
  --burger-width: 28px;
  --burger-height: 20px;
  --burger-height-line: 2px;
  --burger-padding: 8px;
}

.burger-menu {
  position: relative;

  display: block;
  box-sizing: content-box;
  width: var(--burger-width);
  height: var(--burger-height);
  padding: calc(var(--burger-padding) * 1.5) var(--burger-padding)
    calc(var(--burger-padding) * 1.5 + var(--burger-height-line));

  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.burger-menu:focus {
  background-color: #ebebeb;
  outline: none;
}

.burger-menu:hover {
  background-color: #ebebeb;
}

.burger-menu::before,
.burger-menu::after {
  position: absolute;
  top: calc(var(--burger-height) / 2 + 5);
  left: var(--burger-padding);

  width: var(--burger-width);
  height: var(--burger-height-line);

  background-color: var(--burger-color);

  transition: all 0.3s;

  content: '';
}

.burger-menu::after {
  box-shadow: 0 calc(var(--burger-height) / 2) 0 0 var(--burger-color),
    0 calc(var(--burger-height) / -2) 0 0 var(--burger-color);
}

.burger-menu_close::after {
  box-shadow: none;
  transform: rotate(45deg);
}

.burger-menu_close::before {
  transform: rotate(-45deg);
}
