.burger-menu {
  padding: 0;

  background-color: inherit;

  border: none;
  border-radius: 24px;
  outline: none;
}

.burger-menu__translate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 15px 0;

  transition: transform 0.2s linear;
}

.burger-menu:hover {
  background-color: #ebebeb;

  cursor: pointer;

  transition: background-color 250ms;
}

.burger-menu:focus {
  background-color: #ebebeb;
}

.burger-menu span {
  position: relative;

  width: 24px;

  border-bottom: 2px solid #5f6368;
  border-radius: 1px;

  transition: all 0.2s linear;
}

.burger-menu span:first-child {
  transform-origin: left top;
}

.burger-menu span:last-child {
  transform-origin: left bottom;
}

.burger-menu_close .burger-menu__translate {
  transform: translateX(4px);
}

.burger-menu_close span:first-child {
  transform: rotate(45deg);
}

.burger-menu_close span:nth-child(2) {
  opacity: 0;
}

.burger-menu_close span:last-child {
  transform: rotate(-45deg);
}

/* switching for dark mode */

.app_dark .burger-menu:hover {
  background-color: #333333;
}

.app_dark .burger-menu:focus {
  background-color: #333333;
}

.app_dark .burger-menu span {
  border-color: #dcdcdc;
}
