.news {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin-bottom: 16px;
  padding: 12px;

  border: 1px solid steelblue;
  border-radius: 18px;

  transition: box-shadow 250ms linear;
}

.news:hover {
  box-shadow: 0 1px 6px 0 rgba(70, 130, 180, 0.28);
}

.news__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-right: 10px;
}

.news__content a {
  text-decoration: none;
}

.news__content-title {
  margin: 0;
  padding-bottom: 5px;
}

.news__img {
  width: 100px;
  height: 100px;
}

.news__img img {
  width: 100px;
  height: 100px;
  object-fit: cover;

  border-radius: 10px;
}

/* switching for dark mode */

.app_dark .news {
  border-color: #5b5b5b;
}

.app_dark .news__content a {
  color: inherit;
  text-decoration: underline;
}
