.news {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  min-height: 150px;
  margin-bottom: 16px;

  background: linear-gradient(to bottom, rgba(70, 130, 180, 0.19), rgba(70, 130, 180, 0.13));

  border-radius: 18px;

  transition: box-shadow 150ms linear, transform 150ms linear;
}

.news:hover {
  box-shadow: 1px 1px 1px rgba(149, 202, 231, 0.4);
  transform: translate(-1px, -1px);
}

.news__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  padding: 12px 10px 12px 12px;
}

.news__content a {
  color: #00378a;
  text-decoration: none;
}

.news__content a:hover {
  border-bottom: 1px solid steelblue;
}

.news__content-title {
  margin: 0;
  padding-bottom: 5px;
}

.news__img {
  flex-basis: 150px;
  flex-shrink: 0;
  width: 150px;
  height: 100%;
  min-height: 150px;
  object-fit: cover;

  background-color: #c7d9e8;

  border-radius: 0 17px 17px 0;
}

@media (orientation: portrait), (max-height: 480px) {
  .news {
    min-height: 100px;
  }

  .news__content {
    padding: 8px 5px 8px 8px;
  }

  .news__content h2 {
    font-size: 0.9em;
  }

  .news__content a {
    font-size: 0.8em;
  }

  .news__img {
    flex-basis: 100px;
    width: 100px;
    height: 100%;
    min-height: 100px;
  }
}

/* switching for dark mode */

.app_dark .news {
  border-color: #5b5b5b;
}

.app_dark .news__content a {
  color: inherit;
  text-decoration: underline;
}
