.sidebar {
  position: relative;

  width: 100%;
}

.sidebar_hide {
  width: 0;

  transition-delay: 250ms;
}

.sidebar_hide .list {
  transform: translateX(-100%);
}

.list {
  position: sticky;
  /* 54px - height of header */
  top: 54px;
  z-index: 1;

  box-sizing: border-box;

  height: calc(100vh - 56px);

  margin: 0;
  padding-top: 8px;
  padding-left: 0;
  overflow: hidden;

  list-style: none;

  box-shadow: 0 0 12px rgba(70, 130, 180, 0.3);

  transition: transform 250ms linear;
}

.list__news-type {
  position: relative;

  height: 30px;
  padding: 8px 16px;
  overflow: hidden;
}

.list__news-type_active {
  background: linear-gradient(45deg, #b6d7f3, #e8f5ff);

  clip-path: polygon(0 0, calc(100% - 23px) 0, 100% 23px, calc(100% - 23px) 46px, 0 46px);
  -webkit-clip-path: polygon(0 0, calc(100% - 23px) 0, 100% 23px, calc(100% - 23px) 46px, 0 46px);
}

.list__news-type button {
  color: #464c51;
  font-size: 1.5em;

  background-color: transparent;
  border: none;
}

.list__news-type button:hover {
  color: steelblue;

  cursor: pointer;

  transition: color 250ms linear;
}

@media (max-width: 767px) {
  .list {
    width: 50vw;

    background-color: white;
  }

  .sidebar {
    width: 0;
    height: 100%;
  }
}

@media (max-height: 480px) {
  .list {
    overflow: scroll;
  }
}

@media (max-width: 480px) {
  .list__news-type {
    padding: 8px;
  }
}

/* switching for dark mode */

.app_dark .list__news-type button {
  color: inherit;
}

.app_dark .list__news-type button:hover {
  color: #bdbdbd;
}

.app_dark .list__news-type_active {
  background-color: #333333;
}

.app_dark .list__news-type_active::after {
  border-color: black;
  border-left: 23px solid #333333;
}

@media (max-width: 767px) {
  .app_dark .list {
    background-color: black;
  }
}
